{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<form action="" method="POST" class="form">
    {% csrf_token %}            {% comment %}   for secuirty    {% endcomment %}
    {% comment %} {% bootstrap_form form  layout='horizontal' %} {% endcomment %}
    {{ formset.management_form }}  {% comment %} to render the management form (it's an attribute of the formset itself) =>This form is used by the formset to manage the collection of forms contained in the formset {% endcomment %}
    {% for form in formset %}
        {{form}}
        <hr>
    {% endfor %}
    <a href="{% url 'accounts:customer' customer.id %}" class="d-inline btn btn-secondary" role="button">Cancel</a>

    <button type="submit" class=" d-inline btn btn-primary">Submit</button>
    {% comment %} {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %} {% endcomment %}
</form>
{% endblock content %}