<br>

<div class="row">
    <!-- Start Total Orders Box -->
    <div class="col">
        <div class="card text-center text-white  mb-3" id="total-orders">
            <div class="card-header bg-primary">
                <h5 class="card-title mb-0">Total Orders</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{total_orders}}</h3>
            </div>
        </div>
    </div>
    <!-- End Total Orders Box -->
    <!-- Start Orders Delivered Box -->
    <div class="col">
        <div class="card text-center text-white  mb-3" id="orders-delivered">
            <div class="card-header bg-danger">
                <h5 class="card-title mb-0">Orders Delivered</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{delivered}}</h3>
            </div>
        </div>
    </div>
    <!-- End Orders Delivered Box -->
    <!-- Start Orders Pending Box -->
    <div class="col">
        <div class="card text-center text-white mb-3" id="orders-pending">
            <div class="card-header bg-secondary">
                <h5 class="card-title mb-0">Orders Pending</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{pending}}</h3>
            </div>
        </div>
    </div>

    <!-- End Orders Pending Box -->
</div>